services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  machine-learning-client:
    build:
      context: ./machine-learning-client
      dockerfile: Dockerfile
    container_name: ml-client
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      - MONGO_URI=${MONGO_URI:-mongodb://mongodb:27017}
      - MONGO_DB_NAME=${MONGO_DB_NAME:-ml_logs}
      - MONGO_COLLECTION=${MONGO_COLLECTION:-predictions}
      - AUDIO_FILE=${AUDIO_FILE:-data.wav}
      - SOURCE_NAME=${SOURCE_NAME:-ml-client}

    networks:
      - app-network
    volumes:
      - ./test_data:/app/test_data:ro

  web-app:
    build:
      context: ./web-app
      dockerfile: Dockerfile
    container_name: web-app
    ports:
      - "5000:5000"
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
    - MONGO_URI=${MONGO_URI:-mongodb://mongodb:27017}
    - MONGO_DB_NAME=${MONGO_DB_NAME:-ml_logs}
    - MONGO_COLLECTION=${MONGO_COLLECTION:-predictions}
    - PORT=${PORT:-5000}

    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge
