# Copy this to .env and customize as needed

# MongoDB
MONGO_URI=mongodb://mongodb:27017
MONGO_DB_NAME=ml_logs
MONGO_COLLECTION=predictions

# ML Client
AUDIO_FILE=data.wav
SOURCE_NAME=ml-client

# Web App
PORT=5000
AUDIO_MODEL_PATH=models/lite-model_yamnet_classification_tflite_1.tflite

