[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomli = "*"
typing_extensions = "*"
pylint = "*"
black = "*"
flask = "*"
pymongo = "*"
mediapipe = "*"
scipy = "*"
numpy = "*"
python-dotenv = "*"
librosa = "*"
soundfile = "*"
pydub = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
