<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"~>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Audio Detection</h1>
        <nav>
            <a href="dashboard.html">Dashboard</a>
        </nav>
    </header>

    <main>
        <h2>Record or Upload Audio</h2>
        
        <input type="file" id="audioFile" accept="audio/*">
        <button id="uploadBtn">Detect</button>

        <h3>Prediction:</h3>
        <p id="prediction">Not Yet</p>
    </main>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
