body {
    font-family: 'Inter', sans-serif;
    color: #1f2937;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

/* menu */
.header-menu-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-container:hover .menu-button {
    opacity: 0;
    visibility: hidden;
}

.header-menu-container:hover .menu-nav {
    opacity: 1;
    visibility: visible;
}

.menu-button {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.menu-button:hover { color: #ccc; }

.menu-nav {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.875rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.menu-nav a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: color 0.15s;
}

/* main */

.main-content {
    position: relative;
    max-width: 1280px;
    margin: 3rem auto 0 auto;
    padding: 0 1rem;
    z-index: 10;
}

.main-content h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
    color: #000;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.card {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    padding: 2rem 1.5rem;
    font-family: 'Share Tech Mono', monospace;
    pointer-events: none;
}

.card:hover {
    transform: translateY(-4px)
}

.card-header {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #d1d5db;
    font-family: 'Share Tech Mono';
    color: #000;
}

 .log-entry {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e7eb;
    font-size: 0.875rem;
    color: #1f2937;
}

.font-mono {
    font-family: 'Share Tech Mono', monospace;
} 


/* desktop size */
@media (min-width: 1024px) {
    .dashboard-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .lg-col-span-2 {
        grid-column: span 2;
    }
    
    .lg-col-span-1 {
        grid-column: span 1;
    }
}
