body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: 'Share Tech Mono', monospace;
}

/* menu */
.header-menu-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-container:hover .menu-button {
    opacity: 0;
    visibility: hidden;
}

.header-menu-container:hover .menu-nav {
    opacity: 1;
    visibility: visible;
}

.menu-button {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.menu-button:hover { color: #ccc; }

.menu-nav {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.875rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.menu-nav a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.1em;
    transition: color 0.15s;
}

/* main */ 
.main-content {
    position: absolute;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}

.title-area {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-title {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 3.75rem;
    transition: color 0.5s ease;
}

/* upload mic button */
.micupload-container {
    position: fixed;
    left: 50%;                  
    bottom: 2rem;              
    transform: translateX(-50%); 
    z-index: 40;
    display: flex;
    flex-direction: row;       
    align-items: center;
    column-gap: 2rem;           
    pointer-events: auto;
}

.action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    user-select: none;
}

.action-button.hidden{
    display: none;
    opacity: 0;
}

.action-button:hover {
    border-color: #9CA3AF;
    transform: scale(1.03);
}

.action-button-text {
    font-family: 'Share Tech Mono', monospace;
    color: black;
    text-transform: uppercase;
}


.white-bubble-mask {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 55vw;        
    height: 65vh;
    background-color: #3b6ecb;  
    z-index: 1;              
    pointer-events: none;
}