body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    pointer-events: auto;
}